{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <h3>Welcome to my app!</h3>
        <br>
        <br>
        <p class="textLimitation">This app was created by me using Python and Flask. This is a project of Face Recognition.<br><br>
            <strong>How to use?</strong><br>
            The use of this app is very simple. You have to upload one image or video and it will be show
            you if have one or more women/man in the image/video. It will be return exactly what does it found.
        </p>
    </div>
{% endblock bodyblock %}